body {
    max-width: 100vw;
    background-color: rgb(209, 175, 164);
}

header {
    background-color: rgb(49, 49, 145);
    color: rgb(245, 237, 228);
    text-align: center;
    margin: 25px auto;
    border: 5px solid rgb(39, 18, 98);
    padding: 16px;
}

main {
    background-color: rgb(241, 236, 236);
    color: rgb(18, 10, 94);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

img {
    width: 80px;
    height: 80px;
}

article {
    display: flex;
    border: 5px solid;
    margin: 0px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;
}

.artigo-autor {
    font-weight: bold;
}